<!DOCTYPE html>
<html>
    <head>
        <title>Purchase</title>
    </head>
    <body>
        <form method="POST" action="/checkout">
            <ul>
                <li>
                    <label for="text_field">Item to Purchase: </label>
                    <input type="text" id="text_field" name="item">
                    <input type="submit" id="submit">
                </li>
            </ul>
        </form>
    </body>
</html>